@model List<Category>
@* <h1>@TempData["Notifaction"]</h1> *@
@section Scripts
{
        if(@TempData["Notifaction"] is not null)
        {
      <script>
     toastr.success('@TempData["Notifaction"]');
     </script>
        }

}



<div class="container mt-4">
    <div class="card shadow rounded-4 p-4">
        <h5 class="mb-4">All Category </h5>

        <div class="text-end mb-3">
            <a  asp-area="Admin" asp-controller="Category" asp-action="Create" class="btn btn-success">Create</a>
        </div>

        <table class="table table-hover align-middle mb-0">
            <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">number of movies</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Movies.Count</td>

                   </tr>
                  
                }
            </tbody>
        </table>
    </div>
</div>
